body {
	text-align: center;
	min-width: 600px;
	background-color: currentColor;
}

h1 {
	color: white;
	font-family: Impact;
	display: inline-block;
	text-align: left;
}
/*
header {
    background: url("../images/ciel.jpg") repeat-x scroll 0 0;
    height: 80px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: -20px;
    z-index: 0px;
} 
*/


.boite-centrale {
	width: 505px;
	display: inline-block;
	text-align: left;
	background-color: #dddddd;
	border-radius: 30px;
	padding: 20px;
}

.soumettre {
	text-align: right;
	margin-top: 5px;
}

.bienvenue {
	color: white;
}

.erreur {
	color: red;
}
